.background { 
  background-color: #121212;
  height: 100vh
}

.card { 
  background-color: #fff;
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
}

.card-title { 
  background-color: #c7e9f7;
  width: 500px;
  height: 100px;
  padding-top: 10px;
  border-radius: 10px;
}

.card-title-text { 
  text-align: center;
  padding-left: 150px;
  position: absolute;
  margin-top: -10px;
}

.title-span {
  font-weight: lighter;
  font-size: 18px;
}

.logo-background { 
  background-color: rgba(80, 81, 112, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  position: absolute;
  left: 40px;
  top: 15px;
}

.logo {
  position: absolute;
  left: 23px;
  top: 23px;
}

.classes { 
  position: absolute;
  left: 40px;
  font-size: 18px;
}

.classes-box { 
  position: absolute;
  background-color: #2f00ec;
  font-size: 10px;
  color: white;
  width: 57px;
  height: 15px;
  padding-left: 5px;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 7px;
  font-weight: lighter;
}

.class-info {
  position: absolute;
  width: 500px;
  margin-top: 2px;
  font-weight: bold;
}

.learn-more {
  position: absolute;
  margin-left: 305px;
  margin-top: 65px;
  width: 135px;
  color:#008ebd;
  font-size: 18px;
  background-color:rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.Icon {
  position: absolute;
  padding-left: 4px;
}

.class-divider {
  background-color: #c4c4c4;
  width: 440px;
}